<hr>
<H1>New</H1>
<mat-grid-list cols="4">
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Battlefield™ 2042</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://cdn.akamai.steamstatic.com/steam/apps/1517290/header.jpg?t=1628787459" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                   Action, Shooter, Multiplayer, War
                </p>
              </mat-card-content>
            <mat-card-actions>
              <button mat-button>Add to cart</button>
              <button mat-button>More</button>
            </mat-card-actions>
          </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>S.T.A.L.K.E.R. 2</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://cdn.akamai.steamstatic.com/steam/apps/1643320/header.jpg?t=1628240324" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Open World, Adwenture, Story Rich, Western
                </p>
              </mat-card-content>
            <mat-card-actions>
              <button mat-button>Add to cart</button>
              <button mat-button>More</button>
            </mat-card-actions>
          </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>HUMANKIND</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://cdn.akamai.steamstatic.com/steam/apps/1124300/header.jpg?t=1629304781" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Open World, Adwenture, Story Rich, Western
                </p>
              </mat-card-content>
            <mat-card-actions>
              <button mat-button>Add to cart</button>
              <button mat-button>More</button>
            </mat-card-actions>
          </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Red Dead Redemption 2</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://cdn.akamai.steamstatic.com/steam/apps/1174180/header.jpg?t=1618851907" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Open World, Adwenture, Story Rich, Western
                </p>
              </mat-card-content>
            <mat-card-actions>
              <button mat-button>Add to cart</button>
              <button mat-button>More</button>
            </mat-card-actions>
          </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

<H1>Trending</H1>
  
<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Red Dead Redemption 2</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://cdn.akamai.steamstatic.com/steam/apps/1174180/header.jpg?t=1618851907" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Open World, Adwenture, Story Rich, Western
                </p>
              </mat-card-content>
            <mat-card-actions>
              <button mat-button>Add to cart</button>
              <button mat-button>More</button>
            </mat-card-actions>
          </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Red Dead Redemption 2</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://cdn.akamai.steamstatic.com/steam/apps/1174180/header.jpg?t=1618851907" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Open World, Adwenture, Story Rich, Western
                </p>
              </mat-card-content>
            <mat-card-actions>
              <button mat-button>Add to cart</button>
              <button mat-button>More</button>
            </mat-card-actions>
          </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Red Dead Redemption 2</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://cdn.akamai.steamstatic.com/steam/apps/1174180/header.jpg?t=1618851907" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Open World, Adwenture, Story Rich, Western
                </p>
              </mat-card-content>
            <mat-card-actions>
              <button mat-button>Add to cart</button>
              <button mat-button>More</button>
            </mat-card-actions>
          </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Red Dead Redemption 2</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://cdn.akamai.steamstatic.com/steam/apps/1174180/header.jpg?t=1618851907" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Open World, Adwenture, Story Rich, Western
                </p>
              </mat-card-content>
            <mat-card-actions>
              <button mat-button>Add to cart</button>
              <button mat-button>More</button>
            </mat-card-actions>
          </mat-card>

    </mat-grid-tile>


    

  </mat-grid-list>





  
<mat-grid-list cols="4">
  <mat-grid-tile>

      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Battlefield™ 2042</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://cdn.akamai.steamstatic.com/steam/apps/1517290/header.jpg?t=1628787459" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <p>
                 Action, Shooter, Multiplayer, War
              </p>
            </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add to cart</button>
            <button mat-button>More</button>
          </mat-card-actions>
        </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>

      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>S.T.A.L.K.E.R. 2</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://cdn.akamai.steamstatic.com/steam/apps/1643320/header.jpg?t=1628240324" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <p>
                  Open World, Adwenture, Story Rich, Western
              </p>
            </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add to cart</button>
            <button mat-button>More</button>
          </mat-card-actions>
        </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>

      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>HUMANKIND</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://cdn.akamai.steamstatic.com/steam/apps/1124300/header.jpg?t=1629304781" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <p>
                  Open World, Adwenture, Story Rich, Western
              </p>
            </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add to cart</button>
            <button mat-button>More</button>
          </mat-card-actions>
        </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>

      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Red Dead Redemption 2</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://cdn.akamai.steamstatic.com/steam/apps/1174180/header.jpg?t=1618851907" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <p>
                  Open World, Adwenture, Story Rich, Western
              </p>
            </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add to cart</button>
            <button mat-button>More</button>
          </mat-card-actions>
        </mat-card>

  </mat-grid-tile>
</mat-grid-list>
