.ant-card{
    background-color: black;
}

.divGameTrend{
    padding: 15px;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

[nz-carousel-content] {
    text-align: center;
    width: auto;
    max-height: 215px !important;
    line-height: 200px;
    height: 215px !important;
    background: black;
    color: beige;
    overflow: hidden;
  }

img{
    max-height: 215px !important;
    min-width: 50px !important;
    max-width: 450px !important;
}

hr{
    background-color: beige;
    color:beige;
    height: 15px;
    margin: 0px;
}
h1{
    padding: 10px;
    padding-left: 16px;
    margin-bottom: 0px;
    background-color: black;
    color: beige;
}

input{
  background-color: black;
  color: beige;
}

input:hover, input:active, input:focus {
 border-color: beige;
}

tbody  {
  background-color: black !important;
  color: beige !important;
}
th{
  background-color: black !important;
  color: beige !important;
}

a{
  color: beige; background-color: darkorchid; border-color: darkorchid !important;
}

a:hover, a:active, a:focus {
  background:blueviolet !important; border-color: beige!important;
}


li.ant-pagination-item-active a, li.ant-pagination-item:focus-visible a,li.ant-pagination-item:hover a {
    color: blueviolet !important;
    border-color: blueviolet !important;
    background:  white;
}

li.ant-pagination-item-active {
  font-weight: 500;
  background: 0 0;
  border-color: blueviolet !important;
}

li{
  color: blueviolet !important;
background-color: white;
}

li:hover, li:active, li:focus {
  background:blueviolet !important; border-color: beige;
}




