

<div class="header-pc"><div class="content">
  <hr>
  <H1>New</H1>

  <nz-carousel style=" height: 215px;" nzAutoPlay nzAutoPlaySpeed=6000>
    <div  nz-carousel-content *ngFor="let index of listOfNews">
      <div nz-row  [routerLink]="['/game',index.id]" >
        <div nz-col nzFlex="2" >
          <img  src="../../assets/img/{{index.image}}">
        </div>
        <div nz-col nzFlex="3">
          <h2>{{ index.name }}</h2>
          <h3>Made {{ index.companyName }}</h3>
          <h3>Release {{ index.data | date:'yyyy-MM-dd' }}</h3>
          <h3>Price {{ index.price  }} $</h3>
        </div>
      </div>
    </div>
  </nz-carousel>

<hr>
<H1>Trending</H1>

<div class="divGameTrend">
  <nz-table #basicTable [nzData]="listOfPopular"
  [nzShowPagination]="false">
  </nz-table>
  <div  nz-row [nzGutter]="[16, 24]">
    <div *ngFor="let data of basicTable.data" nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">

      <div class="cardGame" [routerLink]="['/game',data.id]" >
        <nz-card nzHoverable [nzCover]="coverTemplate1">
          <nz-card-meta nzTitle="{{data.name}}">
          </nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate1>
          <img alt="example" src="../../assets/img/{{data.image}}" />
        </ng-template></div>

      </div></div>

    </div>

    </div>
    <hr>

    <H1>All Games</H1>

    <input type="text" name="search" [(ngModel)]="searchText" (ngModelChange)=Search() nz-input placeholder="Search">

    <nz-table

    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzData]="listOfSearch"
    >
    <thead>
      <tr>
        <th>Image</th>
        <th nzWidth='30%'>Name</th>
        <th>Price</th>
        <th>Delovoper</th>
        <th>Data</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let data of rowSelectionTable.data">
        <td><img src ="../../assets/img/{{data.image}}" alt="img" style="height: 75px;"></td>
        <td>{{ data.name }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.companyName }}</td>
        <td>{{ data.data | date:'yyyy-MM-dd'}}</td>
        <td>
          <a nz-button nzType="primary" [routerLink]="['/game',data.id]" >More</a>
        </td>
      </tr>
    </tbody>
    </nz-table>
  </div>
</div>




<div class="header-mobile">

  <H1>New</H1>

  <nz-carousel style=" max-height: 337px; background-color: black;" nzAutoPlay nzAutoPlaySpeed=6000>
    <div  nz-carousel-content *ngFor="let index of listOfNews"       [routerLink]="['/game',index.id]">

        <div nz-row>
          <img  src="../../assets/img/{{index.image}}">
        </div>
        <div nz-row>
          <h2 style="float: left;">{{ index.name }}</h2>
      </div>
    </div>
  </nz-carousel>

  <H1>Trending</H1>

  <div class="divGameTrend">
    <nz-table #basicTable [nzData]="listOfPopular"
    [nzShowPagination]="false">
    </nz-table>
    <div  nz-row [nzGutter]="[16, 24]">
      <div *ngFor="let data of basicTable.data" nz-col class="gutter-row" [nzSpan]="24"><div class="inner-box">

        <div class="cardGame" [routerLink]="['/game',data.id]" >
          <nz-card nzHoverable [nzCover]="coverTemplate1">
            <nz-card-meta nzTitle="{{data.name}}">
            </nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate1>
            <img alt="example" src="../../assets/img/{{data.image}}" />
          </ng-template></div>

        </div></div>

      </div>

      </div>


  <hr>

<H1>All Games</H1>

<input type="text" name="search" [(ngModel)]="searchText" (ngModelChange)=Search() nz-input placeholder="Search">

<nz-table

#rowSelectionTable
nzShowPagination
nzShowSizeChanger
[nzData]="listOfSearch"
>
<thead>
  <tr>
    <th>Image</th>
    <th nzWidth='40%'>Name</th>
    <th></th>
  </tr>
</thead>
<tbody >
  <tr *ngFor="let data of rowSelectionTable.data"  [routerLink]="['/game',data.id]" >
    <td><img src ="../../assets/img/{{data.image}}" alt="img" style="height: 75px;"></td>
    <td>{{ data.name }}</td>
    <td>{{ data.price }}</td>
  </tr>
</tbody>
</nz-table>

</div>
