.ant-card{

}
.cardGame{
    max-width: 325px !important;
    max-height: 325px!important;
    background-color: black;
    margin-bottom: 45px!important;
}
.nz-card-meta{
    color: beige!important;
}
.ant-card-meta-title{
    color: beige!important;
}
.ng-star-inserted{
    color: beige!important;
}
.ant-card{
    color: beige!important;
}
.nzTitle{
    color: beige!important; 
}
hr{
    background-color: beige;
    height: 1px;
    margin: 0px;
}
H1{
    padding: 10px;
    padding-left: 16px;

    margin-bottom: 30px;
    background-color: black;
    color: beige;
}
