.ant-card{
    background-color: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.85);
}

.divGameTrend{
    padding: 15px;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

[nz-carousel-content] {
    text-align: center;
    width: auto;
    max-height: 215px !important;
    line-height: 200px;
    height: 215px !important;
    background: rgba(0, 0, 0, 0.8);
    color: beige;
    overflow: hidden;
  }

img{
    max-height: 215px !important;
    min-width: 50px !important;
    max-width: 450px !important;
}

hr{
    background-color: beige;
    color:beige;
    height: 15px;
    margin: 0px;
}
h1{
    padding: 10px;
    padding-left: 16px;
    margin-bottom: 0px;
    background-color: black;
    color: beige;
}
h2{
  padding: 10px;
  padding-left: 16px;
  margin-bottom: 0px;
  color: beige;
}

input{
  background-color: rgba(0, 0, 0, 0.85);
  color: beige;
}

input:hover, input:active, input:focus {
 border-color: beige;
}

tbody  {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: beige !important;
}
th{
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: beige !important;
}

a{
  color: beige; background-color: rgba(153, 50, 204, 0.8); border-color: darkorchid !important;
}

a:hover, a:active, a:focus {
  background:rgba(137, 43, 226, 0.8) !important; border-color: beige!important;
}


li.ant-pagination-item-active a, li.ant-pagination-item:focus-visible a,li.ant-pagination-item:hover a {
    color: rgba(137, 43, 226, 0.8) !important;
    border-color: rgba(137, 43, 226, 0.8) !important;
    background:  white;
}

li.ant-pagination-item-active {
  font-weight: 500;
  background: 0 0;
  border-color: rgba(137, 43, 226, 0.8) !important;
}

li{
  color: rgba(137, 43, 226, 0.8) !important;
background-color: white;
}

li:hover, li:active, li:focus {
  background:rgba(137, 43, 226, 0.8) !important; border-color: beige;
}




