<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">SGS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-light" [routerLink]="['/']">Home</a>
          </li>

          <li *ngIf="isAdmin === true" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/admin-panel/table']">Panel</a>
          </li>

          <li *ngIf="isAdmin === true" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/admin-panel/dashboard']">Dashboard</a>
          </li>

          <li *ngIf="isLogin === true && isAdmin === false" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/library']">Library</a>
          </li>

          <li *ngIf="isLogin === false" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/sign-in']">Sign in</a>
          </li>
          <li *ngIf="isLogin === true" class="nav-item logout">
            <a class="nav-link text-light" (click)="Logout()">Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
