<H1>{{product.name}}</H1>
<hr>
<div>
<img src="../../assets/img/{{product.imageHead}}">

<button (click)="buyProduct()">BUY  {{product.price}}</button>

<nz-carousel style=" height: 215px;" nzAutoPlay nzAutoPlaySpeed=6000>
  <div  nz-carousel-content *ngFor="let index of array">
    <div nz-row>
        <img  src="{{ index }}">
    </div>
  </div>
</nz-carousel>

<p>
  {{product.description}}
</p>
<p>
  DEVELOPER: {{product.developer}}
</p>
<p>
  PUBLISHER: {{product.publisher}}
</p>
<p>
  RELEASE DATE:  {{product.data}}
</p>
<div class="Score">
  <p> {{product.evaluation}}</p>
</div>
<div>
<p>
    MINIMUM:
</p>
<p>
  OS:  {{sysreqmin.os}}
</p>
<p>
  Processor: {{sysreqmin.processor}}
</p>
<p>
  Memory: {{sysreqmin.memory}}
</p>
<p>
  Graphics: {{sysreqmin.graphics}}
</p>
<p>
  Storage: {{sysreqmin.storege}}
</p>
</div>
<div>
  <p>
    RECOMMENDED:
  </p>
  <p>
    OS:  {{sysreqrec.os}}
  </p>
  <p>
    Processor: {{sysreqrec.processor}}
  </p>
  <p>
    Memory: {{sysreqrec.memory}}
  </p>
  <p>
    Graphics: {{sysreqrec.graphics}}
  </p>
  <p>
    Storage: {{sysreqrec.storege}}
  </p>
  </div>

  <div nz-row>
    <div nz-col nzFlex="2">
    <nz-table
      [nzData]="listOfDataLang" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Languages</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfDataLang">
          <td>{{ data.nameLanguage }}</td>
        </tr>
      </tbody>
    </nz-table>

    </div>
    <div nz-col nzFlex="2">
      <nz-table
      [nzData]="listOfDataCateg" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Ganre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfDataCateg">
          <td>{{ data.nameCategory }}</td>
        </tr>
      </tbody>
    </nz-table>
    </div>
  </div>



</div>
<ngx-spinner name="mySpinner"
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="square-loader"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
