<H1>{{product.name}}</H1>
<hr>
<div>
  <div nz-row style="height: 144px;">
    <div nz-col nzFlex="3" style="padding: 10px;">
      <p>
        DEVELOPER: {{product.developer}}
      </p>
      <p>
        PUBLISHER: {{product.publisher}}
      </p>
      <p>
        RELEASE DATE:  {{product.data | date:'yyyy-MM-dd'}}
      </p>
    </div>
  <div nz-col nzFlex="1" style = "width :100%;">
    <img src="../../assets/img/{{product.imageHead}}" style = "width :100%; height: auto;">
  </div>
</div>
<hr>
<div nz-row>
  <div nz-col nzFlex="2">
<nz-carousel snzAutoPlay nzAutoPlaySpeed=4000>
  <div  nz-carousel-content *ngFor="let index of array">
        <img style="width: 100%; height: auto; " src="{{ index }}">
  </div>
</nz-carousel>
</div>
<div nz-col nzFlex="2" style="min-height: 337px;">
  <h2>ABOUT THIS GAME</h2>
  <hr>
  <p>
    {{product.description}}
  </p>
</div>
</div>

<div>
  <p [ngStyle]="{'background': getColor(product.evaluation)}"> SGS-Score {{product.evaluation}}</p>
</div>



<button *ngIf="isLogin === true && isAdmin === false" nz-button nzType="primary" nzBlock (click)="buyProduct()">BUY  {{product.price}} $</button>
<button *ngIf="isAdmin === true" nz-button nzType="primary" nzBlock [routerLink]="['/admin-panel/edit',product.id]">Edit</button>


<div>

  <div nz-row >
    <nz-table
    [nzTemplateMode]="true" [nzFrontPagination]="false" [nzShowPagination]="false" nzTableLayout="fixed">
      <thead>
        <tr>
          <th>SYSTEM REQUIREMENTS</th>
          <th>OS</th>
          <th>Processor</th>
          <th>Memory</th>
          <th>Graphics</th>
          <th>Storege</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>MIN</td>
          <td>{{ sysreqmin.os }}</td>
          <td>{{ sysreqmin.processor }}</td>
          <td>{{ sysreqmin.memory }}</td>
          <td>{{ sysreqmin.graphics }}</td>
          <td>{{ sysreqmin.storege }}</td>
        </tr>
        <tr>
          <td>REC</td>
          <td>{{ sysreqrec.os }}</td>
          <td>{{ sysreqrec.processor }}</td>
          <td>{{ sysreqrec.memory }}</td>
          <td>{{ sysreqrec.graphics }}</td>
          <td>{{ sysreqrec.storege }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div nz-row>
    <div nz-col nzFlex="2">
    <nz-table
      [nzData]="listOfDataLang" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>LANGUAGES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfDataLang">
          <td>{{ data.nameLanguage }}</td>
        </tr>
      </tbody>
    </nz-table>

    </div>
    <div nz-col nzFlex="2">
      <nz-table
      [nzData]="listOfDataCateg" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>GANRE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfDataCateg">
          <td>{{ data.nameCategory }}</td>
        </tr>
      </tbody>
    </nz-table>
    </div>
  </div>



</div>
<ngx-spinner name="mySpinner"
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="square-loader"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
