<div class="header-pc">
  <div class="Game-page">
    <div style="width: 100%; color: rgba(0,0,0,0);">
      <div style="width: 66.66%; float: left; padding: 5px; ">
        <H1 style="background-color: rgba(0, 0, 0, 0.8);">{{product.name}}</H1>
  <div style="width: 100%; min-height: 337px; background-color: black; padding-left: auto; padding-right: auto;">
    <nz-carousel style="height: 337px; margin-left: auto; margin-right: auto;" nzAutoPlay nzAutoPlaySpeed=4000>
    <div  nz-carousel-content *ngFor="let index of array">
      <div style="width: 100%; margin-left: auto; margin-right: auto;">
      <img style="width: 100%; height: 100%; " src="{{ index }}">
      </div>
    </div>
  </nz-carousel>
  </div>
  <div style="background-color: rgba(0, 0, 0, 0.8);">
  <div style="width: 100%; margin-top: 15px;">
    <hr>
    <h2>ABOUT THIS GAME</h2>
    <hr>
    <p style="padding: 25px;">
      {{product.description}}
    </p>
  </div>

  <hr>
  <div nz-row>
  <div style="width: 100%; height: auto;">
    <div style="width: 50%; height: auto; float: left; padding: 25px; ">
      <h3>Language</h3>
      <nz-list nzSize="small">
        <nz-list-item *ngFor="let item of listOfDataLang">{{item.nameLanguage}}</nz-list-item>

      </nz-list>
    </div>
    <div style="width: 50%; height: auto; float: right; padding: 25px;">
      <h3>Category</h3>
      <nz-list nzSize="small">
        <nz-list-item *ngFor="let item of listOfDataCateg">{{item.nameCategory}}</nz-list-item>
      </nz-list>
    </div>
  </div>
  </div>
  <div nz-row>
  <div style="width: 100%; height: 400px;">
    <hr>
    <h2>SYSTEM REQUIREMENTS</h2>
    <hr>

    <div style="width: 50%; float: left; padding: 25px; ">
      <h3>MIN :</h3>
      <h5>OS : {{ sysreqmin.os }}</h5>
      <h5>Processor : {{ sysreqmin.processor }}</h5>
      <h5>Memory : {{ sysreqmin.memory }}</h5>
      <h5>Graphics : {{ sysreqmin.graphics }}</h5>
      <h5>Storege : {{ sysreqmin.storege }}</h5>
    </div>
    <div style="width: 50%; float: right; padding: 25px;">
      <h3>REC :</h3>
      <h5>OS : {{ sysreqrec.os }}</h5>
      <h5>Processor : {{ sysreqrec.processor }}</h5>
      <h5>Memory : {{ sysreqrec.memory }}</h5>
      <h5>Graphics : {{ sysreqrec.graphics }}</h5>
      <h5>Storege : {{ sysreqrec.storege }}</h5>
    </div>
  </div>
  </div>
  </div>
  </div>
  <div style="width: 33.33%; float: right; padding: 5px;">
    <div class="sticky">
      <img src="../../assets/img/{{product.imageHead}}" style = "width :367px; height: auto;">
      <div style="padding: 15px;">
      <p>
        DEVELOPER: {{product.developer}}
      </p>
      <p>
        PUBLISHER: {{product.publisher}}
      </p>
      <p>
        RELEASE DATE:  {{product.data | date:'yyyy-MM-dd'}}
      </p>
    <div>
      <p [ngStyle]="{'background': getColor(product.evaluation)}"> SGS-Score {{product.evaluation}}</p>
    </div>
    <button *ngIf="isLogin === true && isAdmin === false && isBuy === false" nz-button nzType="primary" nzBlock (click)="buyProduct()">BUY  {{product.price}} $</button>
    <button *ngIf="isAdmin === true" nz-button nzType="primary" nzBlock [routerLink]="['/admin-panel/edit',product.id]">Edit</button>
    </div>
    </div>
  </div>
  </div>
</div></div>
<div class="header-mobile">

  <H1 style="background-color: rgba(0, 0, 0, 1);">{{product.name}}</H1>
  <div style="float: left; padding: 5px; background-color: rgba(0, 0, 0, 1); width: 100%; margin-left: auto; margin-left: auto;">
      <img src="../../assets/img/{{product.imageHead}}" style = "width :100%; height: auto;">
      <div style="padding: 15px;">
      <p>
        DEVELOPER: {{product.developer}}
      </p>
      <p>
        PUBLISHER: {{product.publisher}}
      </p>
      <p>
        RELEASE DATE:  {{product.data | date:'yyyy-MM-dd'}}
      </p>
    <div>
      <p [ngStyle]="{'background': getColor(product.evaluation)}"> SGS-Score {{product.evaluation}}</p>
    </div>
    <button *ngIf="isLogin === true && isAdmin === false && isBuy === false" nz-button nzType="primary" nzBlock (click)="buyProduct()">BUY  {{product.price}} $</button>
    <button *ngIf="isAdmin === true" nz-button nzType="primary" nzBlock [routerLink]="['/admin-panel/edit',product.id]">Edit</button>
    </div>
  </div>
<hr>
  <nz-carousel style="height: 337px; margin-left: auto; margin-right: auto;" nzAutoPlay nzAutoPlaySpeed=4000>
    <div  nz-carousel-content *ngFor="let index of array">
      <div style="width: 100%; margin-left: auto; margin-right: auto;">
      <img style="width: 100%; height: 100%; " src="{{ index }}">
      </div>
    </div>
  </nz-carousel>
  <hr>
  <h2>ABOUT THIS GAME</h2>
  <hr>
  <p style="padding: 25px;">
    {{product.description}}
  </p>

<hr>
  <div nz-row>
    <div style="width: 100%; height: auto;">
      <div style="width: 50%; height: auto; float: left; padding: 25px; ">
        <h3>Language</h3>
        <nz-list nzSize="small">
          <nz-list-item *ngFor="let item of listOfDataLang">{{item.nameLanguage}}</nz-list-item>

        </nz-list>
      </div>
      <div style="width: 50%; height: auto; float: right; padding: 25px;">
        <h3>Category</h3>
        <nz-list nzSize="small">
          <nz-list-item *ngFor="let item of listOfDataCateg">{{item.nameCategory}}</nz-list-item>
        </nz-list>
      </div>
    </div>
    </div>
    <div nz-row style="background-color: black;">
    <div style="width: 100%;">
      <hr>
      <h2>SYSTEM REQUIREMENTS</h2>
      <hr>

      <div style="width: 50%; float: left; padding: 25px; ">
        <h3>MIN :</h3>
        <h5>OS : {{ sysreqmin.os }}</h5>
        <h5>Processor : {{ sysreqmin.processor }}</h5>
        <h5>Memory : {{ sysreqmin.memory }}</h5>
        <h5>Graphics : {{ sysreqmin.graphics }}</h5>
        <h5>Storege : {{ sysreqmin.storege }}</h5>
      </div>
      <div style="width: 50%; float: right; padding: 25px;">
        <h3>REC :</h3>
        <h5>OS : {{ sysreqrec.os }}</h5>
        <h5>Processor : {{ sysreqrec.processor }}</h5>
        <h5>Memory : {{ sysreqrec.memory }}</h5>
        <h5>Graphics : {{ sysreqrec.graphics }}</h5>
        <h5>Storege : {{ sysreqrec.storege }}</h5>
      </div>
    </div>
    </div>

</div>
