h1{
    padding: 10px;
    padding-left: 16px;
    margin-bottom: 0px;
    background-color: black;
    color: beige;
}
hr{
    background-color: beige;
    color:beige;
    height: 15px;
    margin: 0px;
}
div{
    background-color: black;
}
p{
    color: beige;
}


tbody  {
  background-color: black !important;
  color: beige !important;
}
th{
  background-color: black !important;
  color: beige !important;
}

nz-carousel{
  max-height: 337px;
  max-width: 600px;
  background : center center no-repeat;
}

p{padding: 5px;
padding-right: 30px;}

h2{
  padding: 10px;
}

button{
  color: beige; background-color: darkorchid; border-color: darkorchid !important;
}

button:hover, button:active, button:focus {
  background:blueviolet !important; border-color: beige!important;
}
