<div class="form">
  <h2>Edit product</h2>
  <form  #myForm="ngForm">
    <div>

    <input nz-input type="text" placeholder="{{game.name}}" [(ngModel)]="modelEdit.name" name="name"/>
    <input nz-input type="number" placeholder="{{game.price}}" [(ngModel)]="modelEdit.price" name="price"/>
    <textarea nz-input placeholder="{{game.description}}" [nzAutosize]="{ minRows: 3, maxRows: 5 }" type="text" placeholder="{{game.description}}" [(ngModel)]="modelEdit.description" name="description"></textarea>
    <input nz-input type="text" placeholder="{{game.developer}}" [(ngModel)]="modelEdit.developer" name="developer"/>
    <input nz-input type="text" placeholder="{{game.publisher}}" [(ngModel)]="modelEdit.publisher" name="publisher"/>
    <input nz-input type="number" placeholder="{{game.evaluation}}" [(ngModel)]="modelEdit.evaluation" name="evaluation"/>
    <nz-date-picker nzFormat="yyyy-MM-dd HH:mm:ss" type="date" placeholder="game.data"  [(ngModel)]="modelEdit.data" name="data"></nz-date-picker>
    <input type="file" name="file" (change)="setImage($event.target.files)">
    <input type="file" name="file1" (change)="setImage1($event.target.files)">
    <input type="file" name="file2" (change)="setImage2($event.target.files)">
    <input type="file" name="file3" (change)="setImage3($event.target.files)">
    <input type="file" name="file4" (change)="setImage4($event.target.files)">
    </div>

    <h3>Min System requirement</h3>
    <div>
    <input nz-input type="text" placeholder="{{sysreqmin.os}}" [(ngModel)]="modelSysMinEdit.os" name="os"/>
    <input nz-input type="text" placeholder="{{sysreqmin.processor}}" [(ngModel)]="modelSysMinEdit.processor" name="processor"/>
    <input nz-input type="text" placeholder="{{sysreqmin.graphics}}" [(ngModel)]="modelSysMinEdit.graphics" name="graphics"/>
    <input nz-input type="text" placeholder="{{sysreqmin.memory}}" [(ngModel)]="modelSysMinEdit.memory" name="memory"/>
    <input nz-input type="text" placeholder="{{sysreqmin.storege}}"  [(ngModel)]="modelSysMinEdit.storege" name="storege"/>
    </div>

    <h3>Rec System requirement</h3>
    <div>
    <input nz-input type="text" placeholder="{{sysreqrec.os}}" [(ngModel)]="modelSysReqEdit.os" name="os"/>
    <input nz-input type="text" placeholder="{{sysreqrec.processor}}" [(ngModel)]="modelSysReqEdit.processor" name="processor"/>
    <input nz-input type="text" placeholder="{{sysreqrec.graphics}}" [(ngModel)]="modelSysReqEdit.graphics" name="graphics"/>
    <input nz-input type="text" placeholder="{{sysreqrec.memory}}" [(ngModel)]="modelSysReqEdit.memory" name="memory"/>
    <input nz-input type="text" placeholder="{{sysreqrec.storege}}"  [(ngModel)]="modelSysReqEdit.storege" name="storege"/>
    </div>

  <h3>Language</h3>

  <nz-table
  #rowSelectionTableLang
  [nzFrontPagination]="false"
  [nzShowPagination]="false"
  [nzScroll]="{ y: '720px' }"
  [nzData]="listOfDataLang" >
  <thead>
    <tr>
      <th nzWidth='10%'></th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTableLang.data">
      <td>
        <label  nz-checkbox type="checkbox" (click)="setLanguage(data.idLanguage)" ></label>
      </td>
      <td>{{ data.nameLanguage }}</td>
    </tr>
  </tbody>
</nz-table>

<h3>Caregory</h3>
  <nz-table
  #rowSelectionTableCategory
  [nzFrontPagination]="false"
  [nzShowPagination]="false"
  [nzScroll]="{ y: '720px' }"
  [nzData]="listOfDataCateg">
  <thead>

    <tr>
      <th nzWidth='10%'></th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTableCategory.data">
      <td>
        <label nz-checkbox type="checkbox" (click)="setCategory(data.idCategory)" ></label>
      </td>
      <td>{{ data.nameCategory }}</td>
    </tr>
  </tbody>
</nz-table>



<button nz-button nzType="primary" nzBlock type="submit" style="background-color: rgb(0,80,1) !important; border-color: rgb(1, 58, 2);" (click)="onSubmit()">Edit</button>

</form>
</div>

<ngx-spinner name="mySpinner"
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="square-loader"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
