
<H1>Product Manager</H1>

<input type="text" name="search" [(ngModel)]="searchText" (ngModelChange)=Search() nz-input placeholder="Search">

<nz-table
      #rowSelectionTable
      nzShowPagination
      nzShowSizeChanger
      [nzData]="listOfSearch"
    >
      <thead>
        <tr>
          <th nzWidth='30%'>Name</th>
          <th>Price</th>
          <th>Company Name</th>
          <th>Data</th>
          <th>Actions</th>
          <th>Count sales</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.price }}</td>
          <td>{{ data.companyName }}</td>
          <td>{{ data.data }}</td>
          <td>
            <a nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Please" (nzOnConfirm)="deleteProduct(data.id)">Delete</a>
            <a nz-button nzType="primary" [routerLink]="['/admin-panel/edit',data.id]" type="button">Edit</a>
            <a nz-button nzType="primary" [routerLink]="['/game',data.id]" >More</a>
          </td>
          <td>{{ data.countSales }}</td>
        </tr>
      </tbody>
    </nz-table>
    <div ng-row>
      <nz-col><a nz-button nzType="primary" [routerLink]="['/admin-panel/add']" type="button">Add Game</a>    </nz-col>
      <nz-col>
        <a nz-button [nzType]="'primary'" (click)="showModalLang()"><span>Add Language</span></a>
        <nz-modal [(nzVisible)]="isVisibleLang" nzTitle="The first Modal" (nzOnCancel)="handleCancelLang()" (nzOnOk)="handleOkLang()">
          <ng-container style="background-color: rgba(0, 0, 0, 0.8) !important ;" *nzModalContent>
            <input [(ngModel)]="nameLang">
          </ng-container>
        </nz-modal>
      </nz-col>
      <nz-col>
        <a nz-button [nzType]="'primary'" (click)="showModalGanre()"><span>Add Ganre</span></a>
        <nz-modal [(nzVisible)]="isVisibleGanre" nzTitle="The first Modal" (nzOnCancel)="handleCancelGanre()" (nzOnOk)="handleOkGanre()">
          <ng-container style="background-color: rgba(0, 0, 0, 0.8) !important ;" *nzModalContent>
            <input [(ngModel)]="nameGanre">
          </ng-container>
        </nz-modal>
      </nz-col>
    <nz-col><a nz-button nzType="primary" [routerLink]="['/admin-panel/add']" type="button">Edit Language</a>    </nz-col>
    <nz-col><a nz-button nzType="primary" [routerLink]="['/admin-panel/add']" type="button">Edit Ganre</a>    </nz-col>
    <nz-col><a nz-button nzType="primary" [routerLink]="['/admin-panel/add']" type="button">Delete Language</a>    </nz-col>
    <nz-col><a nz-button nzType="primary" [routerLink]="['/admin-panel/add']" type="button">Delete Ganre</a>    </nz-col>
    </div>

