<H1>Dashboard</H1>
<div style="margin: 15px;">
<div class='Statistic' nz-row>
  <nz-col class='Statistic-Col'>
    <nz-statistic [nzValue]="(Price)" [nzTitle]="'Total price'"></nz-statistic>
  </nz-col>
  <nz-col class='Statistic-Col'>
    <nz-statistic [nzValue]="(Count)" [nzTitle]="'Count of games sold'"></nz-statistic>
  </nz-col>
  <nz-col class='Statistic-Col'>
    <nz-statistic [nzValue]="(AveragePrice)" [nzTitle]="'The average price'"></nz-statistic>
  </nz-col>
  <nz-col class='Statistic-Col'>
    <nz-statistic [nzValue]="(HighestPrice)" [nzTitle]="'The highest price'"></nz-statistic>
  </nz-col>
  <nz-col class='Statistic-Col'>
    <nz-statistic [nzValue]="(LowestPrice)" [nzTitle]="'The lowest price'"></nz-statistic>
  </nz-col>
</div>
</div>
<div style="margin: 15px;">
  <div class='Statistic' nz-row>
    <nz-col class='Statistic-Col-2'>
      <nz-statistic [nzValue]="(CountUser)" [nzTitle]="'Count user'"></nz-statistic>
    </nz-col>
    <nz-col class='Statistic-Col-2'>
      <nz-statistic [nzValue]="(Games[0].name)" [nzTitle]="'The most popular game'"></nz-statistic>
    </nz-col>
    <nz-col class='Statistic-Col-2'>
      <nz-statistic [nzValue]="(Ganres[0].name)" [nzTitle]="'The most popular genre'"></nz-statistic>
    </nz-col>
  </div>
  </div>

  <div style="margin: 15px;">
    <div class='Statistic' nz-row>
      <nz-col class='Statistic-Col-3'>
        <nz-statistic [nzValue]="(CountGames)" [nzTitle]="'Count games'"></nz-statistic>
      </nz-col>
    </div>
    </div>

  <H2 style="margin: 15px; padding: 5px; background-color: rgba(0, 0, 0, 0.8);">Most popular game</H2>
  <div style="margin: 15px;">

    <div class="divGameTrend">
      <nz-table #rowSelectionTable [nzData]="Games"
      [nzShowPagination]="false"
      [nzPageSize] = 18>
      </nz-table>
      <div  nz-row [nzGutter]="[4, 24]">
        <div *ngFor="let data of rowSelectionTable.data" nz-col class="gutter-row" [nzSpan]="4"><div class="inner-box">

          <div class="cardGame" [routerLink]="['/game',data.id]" >
            <nz-card nzHoverable [nzCover]="coverTemplate1">
              <nz-card-meta nzTitle="{{data.name}}">
              </nz-card-meta>
              <p>{{data.sales}}</p>
            </nz-card>
            <ng-template #coverTemplate1>
              <img alt="example" src="../../assets/img/{{data.image}}" />
            </ng-template></div>

          </div></div>

        </div>

        </div>

  <div style="margin: 15px;"><div class='Pie'>
    <H2>Pie chart of the most popular genres</H2>
  <div style="display: block">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [colors]="pieChartColors"
            [options]="pieChartOptions"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  </div></div>



